In [1]:
 # Dependencies and Setup
import pandas as pd

# File to Load
white_wine = "resources/white.csv"
red_wine = "resources/red.csv"

# Read red wine and white wine data file and store into Pandas DataFrames
white_df = pd.read_csv(white_wine)
red_df = pd.read_csv(red_wine)

In [2]:
white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3764 non-null   object
 1   Country          3764 non-null   object
 2   Region           3764 non-null   object
 3   Winery           3764 non-null   object
 4   Rating           3764 non-null   float64
 5   NumberOfRatings  3764 non-null   int64
 6   Price            3764 non-null   float64
 7   Year             3764 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 235.4+ KB

In [3]:
red_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8666 entries, 0 to 8665
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8666 non-null   object
 1   Country          8666 non-null   object
 2   Region           8666 non-null   object
 3   Winery           8666 non-null   object
 4   Rating           8666 non-null   float64
 5   NumberOfRatings  8666 non-null   int64
 6   Price            8666 non-null   float64
 7   Year             8666 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 541.8+ KB

In [4]:
white_df["Type"] = "white"
white_df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017,white
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white

In [5]:
red_df["Type"] = "red"
red_df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011,red
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017,red
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015,red
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019,red
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016,red

In [6]:
# Combine the data into a single dataset.  
all_df = pd.concat([white_df, red_df], axis=0).reset_index(drop=True)

In [7]:
all_df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017,white
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white

In [8]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12430 entries, 0 to 12429
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             12430 non-null  object
 1   Country          12430 non-null  object
 2   Region           12430 non-null  object
 3   Winery           12430 non-null  object
 4   Rating           12430 non-null  float64
 5   NumberOfRatings  12430 non-null  int64
 6   Price            12430 non-null  float64
 7   Year             12430 non-null  object
 8   Type             12430 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 874.1+ KB

In [9]:
test = all_df["Type"].unique()
test

array(['white', 'red'], dtype=object)

In [10]:
all_df.tail()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
12425,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,3.8,994,16.47,2016,red
12426,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016,red
12427,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010,red
12428,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019,red
12429,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016,red

In [11]:
all_df.to_csv("C:/Users/brenn/SMU_Bootcamp/Projects/project-4-group-3/Project4_WineQuality/Bee/resources/red_and_white_combined.csv", index=False)